@use "./variables.scss" as*; 

// Media Querie de Desktop

@media (min-width: 1024px) and (max-width: 2160px) {

body {
        max-width: 100%;
        margin: 0 auto;
    }
    
}
// Media Querie de Tablet

@media (min-width: 481px) and (max-width: 1023px) {
  .navegador {
    display: flex;
    flex-direction: column;
    align-items: center;       
    gap: 1rem;                  
    padding: 1.5rem 0;          
    width: 100%;
    
    border: none;               
    background-color: $gris; 
    position: static;
  }

  .navegador a {
    text-decoration: none;      
    font-size: 1.2rem;
    color: $dorado;
    padding: .7rem 1rem;
    border-radius: 8px;        
    transition: .3s;
  }

  .navegador a:hover {
    
    transform: scale(1.05);     
    background-color: $dorado;  
    color: $negro;               
  }
    body{
        padding-top: 0;
        max-width: 100%;
        margin: 0 auto;
        background-color: rgb(35, 30, 53);
    }

    .foto-4 img{
        
        padding-right: 30px;
    }
    

    .videos{
    display: none;


}
    main {
    padding-top: 0;
}

    .formulario {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
    background-color: rgb(136, 140, 197);
    padding: 20px;
    vertical-align: middle;
    width: 90%;
    flex-direction: column;
}
}



// Media Querie de Mobile
@media (max-width: 480px){
    .navegador{
        flex-direction:column;
        text-decoration:none;
        width: 100%;
        position: static;

    }
main {
    padding-top: 0;
}

body{
    padding-top: 0;
}


     

    .grid-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "novedades"
        "foto1"
        "foto2"
        "foto3";
        text-align: center;
        
    }

    .grid-principal img {
  max-width: 100%;
  height: auto;
}



.grid-principal .logro-1{
        display: none;
     }

.grid-principal .logro-2{
        display: none;
     }
.grid-principal .logro-3{
    display: none;
 }

 
.foto-4{
    display: none;
}
 .foto-4 img{
    display: none;
    
}


.parrafo{
    display: none;
}

.juegos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "origins"
    "asylum"
    "city"
    "knight";
    gap: 10px;
    text-align: center;
}


.videos{
    display: none;


}

.card-container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
 
h4{
    text-align: center;
}

.formulario {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
    background-color: rgb(92, 107, 76);
    padding: 20px;
    vertical-align: middle;
    width: 90%;
    flex-direction: column;
}

}