$dorado: #efb810;
$gris: rgb(19, 18, 18);
$gris-claro: #5c5c5c;
$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$celeste: rgb(95, 74, 255);

$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-dos: "Oswald", sans-serif;

